<!--Navbar-->
<nav class="mb-1 navbar sticky navbar-expand-lg navbar-dark default-color">
    <h3 id="name">Corey Burkett</h3>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link nav-btn about-btn" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn projects-btn" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn contact-btn" href="#">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <p class="nav-link waves-effect waves-light">
                    Checkout my socials! &#8608
                </p>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="https://github.com/cburkett22" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/corey-burkett/"
                    target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!--Title-->
<div class="jumbotron">
    <div class="title-overlay"></div>
    <div class="col-md-9 title-container">
        <h1 id="title">Corey Burkett, a full-stack developer</h1>
    </div>
</div><br>

<!--About me/ Skills-->
<div class="intro-container">
    <div class="row">
        <article class="col-md-5 z-depth-2 about">
            <h2 class="page-header">About Me</h2>
            <hr>
            <h3>Welcome!</h3>
            <p>
                Full-Stack Web/Software Developer who has the necessary skills to construct and produce clean code and running applications. Six months of development experience from the UCI Coding Bootcamp and eight months in personal project development. Professional with strong technical aptitude performing in high pressure environments to achieve desired results.
                <br/><br/>
                United States Marine Corps Infantry Veteran with a Secret Security Clearance and 4+ years of leadership experience in providing strategic solutions to execute specific business requirements.
            </p>
            <hr>
            <form action="https://docs.google.com/document/d/1kx40Pt0z_Ol0n6XZj_tTq7UzDBuwPEum/edit?usp=sharing&ouid=111140232681645833372&rtpof=true&sd=true" method="get" target="_blank">
                <button id="resume-btn">
                    Resume
                </button>
            </form>
        </article>

        <div class="col-md-2"></div>

        <article class="col-md-5 z-depth-2 skills-card">
            <h2 class="page-header">Skills</h2>
            <hr>
            <div class="skills-container">
                <div class="w3-container w3-round-large skills orange">HTML</div>
                <div class="w3-container w3-round-large skills blue">CSS</div>
                <div class="w3-container w3-round-large skills orange">Firebase</div>
                <div class="w3-container w3-round-large skills purple">Bootstrap</div>
                <div class="w3-container w3-round-large skills blue">ReactJS</div>
                <div class="w3-container w3-round-large skills yellow">JavaScript</div>
                <div class="w3-container w3-round-large skills light-blue">jQuery</div>
                <div class="w3-container w3-round-large skills orange">MySQL</div>
                <div class="w3-container w3-round-large skills green">MongoDB</div>
                <div class="w3-container w3-round-large skills light-blue">NoSQL</div>
                <div class="w3-container w3-round-large skills green">NodeJS</div>
                <div class="w3-container w3-round-large skills yellow">ExpressJS</div>
                <div class="w3-container w3-round-large skills orange">HandlebarsJS</div>
                <div class="w3-container w3-round-large skills purple">C#</div>
                <div class="w3-container w3-round-large skills red">Git</div>
                <div class="w3-container w3-round-large skills blue">DOM</div>
            </div>

        </article>
    </div>
</div>
<br/><br/><br/><br/>
<!--Project Cards-->
<div class="card-container">
    <div>
        <h2 class="page-header">Projects</h2>
        <hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <!-- Card 1 -->
        <div class="col mb-4 wow fadeInLeftBig">
            <div class="card h-100">
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.pinimg.com/originals/8a/e8/e9/8ae8e934f6454cfa12d860d374e2bef1.jpg" alt="PitchIT application screenshot">
                    <a href="https://pitch-it-adventures.herokuapp.com/"  target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">PitchIT Adventures</h4>
                    <p class="card-text">This is a group application that will allow like-minded outdoors-men and women to plan unique trips with their friends. The main dependencies used were ReactJS, HTML, CSS, JavaScript, Bootstrap, ExpressJS, NodeJS, MongoDB, and Mongoose.</p>
                    <button id="card-one-btn" type="button" class="btn btn-blue btn-md">Visit App</button>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col mb-4 wow jackInTheBox">
            <div class="card h-100">
                <div class="view overlay">
                    <img class="card-img-top" src="/img/burger.jpg" alt="Burger Logger application screenshot">
                    <a href="https://yummy-burger-logger.herokuapp.com/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Burger Logger</h4>
                    <p class="card-text">This application will allow the user to devour the burgers they have added. This application utilizes the MVC design pattern. In order to achieve this, Node and MySQL are used to query and route data in the application, and Handlebars to generate the HTML.</p>
                    <button id="card-two-btn" type="button" class="btn btn-blue btn-md">Visit App</button>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col mb-4 wow fadeInRightBig">
            <div class="card h-100">
                <div class="view overlay">
                    <img class="card-img-top" src="https://play-lh.googleusercontent.com/9ASiwrVdio0I2i2Sd1UzRczyL81piJoKfKKBoC8PUm2q6565NMQwUJCuNGwH-enhm00" alt="Instagram Clone application screenshot">
                    <a href="https://instagram-clone-71013.web.app/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <br/><br/>
                    <h4 class="card-title">Instagram Clone</h4>
                    <p class="card-text">This application is a clone of the social media platform, Instagram. Using user authentication through Firebase, the user will only be able to make a post and comment on posts from other users when they sign up/login. This app is best viewed on a computer!</p>
                    <button id="card-three-btn" type="button" class="btn btn-blue btn-md">Visit App</button>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col mb-4 wow fadeInLeftBig">
            <div class="card h-100">
                <div class="view overlay">
                    <img class="card-img-top" src="https://www.snapchat.com/global/social-lg.jpg" alt="Snapchat application screenshot">
                    <a href="https://snapchat-clone-2021.web.app/"  target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Snapchat</h4>
                    <p class="card-text">This application is a clone of the social media platform, Snapchat. Using user Google authentication through Firebase, the user will sign into their Google account and be able to take a selfie. The app was built using ReactJS, Redux, Firebase (Hosting & Storage), Firestore, and Google Authentication for signing in. This app is best viewed on a computer!</p>
                    <button id="card-four-btn" type="button" class="btn btn-blue btn-md">Visit App</button>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col mb-4 wow jackInTheBox">
            <div class="card h-100">
                <div class="view overlay">
                    <img class="card-img-top" src="/img/movie.png" alt="Movie reel">
                    <a href="https://cburkett22.github.io/OMDb-Nominator/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">OMDb Movie Nominator</h4>
                    <p class="card-text">This application allows the user to search for a movie using an API key from OMDb. The user will then be able to 'nominate' movies for an award; once the user has reached 5 nominations, an alert will appear. All of the users nominations will be saved into local storage. The technologies used for this application was ReactJS, Bootstrap, HTML, CSS, and ReactDOM.</p>
                    <button id="card-five-btn" type="button" class="btn btn-blue btn-md">Visit App</button>
                </div>
            </div>
        </div>

                <!-- Card 6 -->
        <div class="col mb-4 wow fadeInRightBig">
            <div class="card h-100">
                <div class="view overlay">
                    <img class="card-img-top" src="https://www.kindpng.com/picc/m/567-5673041_xing-home-tetris-game-logo-hd-png-download.png" alt="Tetris application">
                    <a href="https://tetris-in-react.herokuapp.com/" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Tetris in React</h4>
                    <p class="card-text">Here is a bit of nostalgia for the old school gamers. This is Tetris made with React by use of hooks.</p>
                    <br/><button id="card-six-btn" type="button" class="btn btn-blue btn-md">Visit App</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Contact-->
<div class="contact-container">
    <div>
        <h2 class="page-header">Contact</h2>
        <hr>
    </div>
    <section class="mb-4">
        <h4 class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact me directly.</h4>
        {{ msg }}
        <div class="row">
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" method="POST" action="send">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2"
                                    class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-md-left">
                        <button type="submit" id="submit-btn">Send</button>
                    </div>
                </form>

                <div class="status"></div>
            </div>
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>3 Daffodil, Rancho Santa Margarita, CA 92688, USA</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>(281) 299-4049</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>Coreyburkett22@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<!--Footer-->
<br><br>
<footer>
    <p id="footer-text">Developed by Corey Burkett © Copyright 2020</p>
</footer>