/* ==== Google Fonts ==== */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:ital,wght@0,300;0,400;1,400;1,600&display=swap');

/* ==== General ==== */
* {
  box-sizing: border-box;
}

body {
  font-family: Raleway, Arial, Verdana, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
  color: #444;
}

/* ==== Navbar ==== */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar {
  background: linear-gradient(to bottom right, #3399ff 20%, #ff3300 100%) !important;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-btn {
  font-family: Raleway !important;
  font-weight: 300 !important;
}

#name {
  margin-right: 20px;
  color: white;
  font-family: kaushan script;
}

/* ==== Title ==== */
#title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
}

.jumbotron {
  position: relative;
  text-align: center;
  top: 64px;
  background: #143353 url(../img/background.JPG) center center no-repeat;
  background-size: cover;
  height: 50vh;
  margin-bottom: 5rem;
}

.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #3b3b3b9d;
}

.title-container {
  display: inline-block;
  z-index: 1;
}

/* ==== About me & skills ==== */
article {
  padding: 10px;
}

.intro-container {
  margin-right: 70px;
  margin-left: 70px;
}

.page-header {
  font-weight: 700;
  font-style: italic;
  text-align: left;
}

.skills-card {
  text-align: center;
}

.skills {
  text-align: center;
  display: inline-block;
  margin: 18px;
  font-size: 20px;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: rgb(58, 127, 255);
  color: white;
}

.light-blue {
  background-color: rgb(1, 168, 168);
  color: white;
}

.purple {
  background-color: rgb(158, 1, 158);
  color: white;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: rgb(25, 192, 25);
}

.red {
  background-color: red;
  color: white;
}

/* ==== Project Cards ==== */
.card-container {
  margin-left: 10vh;
  margin-right: 10vh;
}

.card {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.card > button {
  justify-content: flex-start;
  display: flex;
  bottom: 0;
}

/* ==== Contact ==== */
.contact-container {
  margin: 100px;
}

.row-contact {
  border-style: groove;
  border-radius: 5px;
  color: black;
}

.form-control {
  color: black !important;
}

#submit-btn {
  border-radius: 10px;
  border-color: rgb(95, 151, 253);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;
}

#submit-btn:hover {
  background-color: rgb(95, 151, 253);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ==== Footer ==== */
footer {
  padding: 3px;
  background-color: rgb(0, 30, 85);
  color: white;
  text-align: center;
}

#footer-text {
  margin-top: 15px;
}